<!DOCTYPE html>
<html>
	<body>
		<center>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
				<title>ONEai</title>
				<h1>
					<div style="text-align:center">
						<font color="blue">ONEai</font>
					</div>
				</h1>
				<hr>
				</br>
			</br>
		</br>
	</br>


	<h2>Train the Machine Learning Model for Reinforcement</h2>

	<button onclick="myFunction()">Train</button>
	
	</br></br></br>
	<h2>Select the XML file to predict</h2>

	<button onclick="myFunction1()">Select</button>

	<script>
			function myFunction() {
				window.location.href = "C:/Users/ganta/Downloads/Python/Learning/TakeHome/BlueYonder/Project/templates/Train_ML_Report_index.html";
			}
			
			function myFunction1() {
				window.location.href = "C:/Users/ganta/Downloads/Python/Learning/TakeHome/BlueYonder/Project/templates/ONEai.html";
			}
	</script>
	<h2>
		<div style="text-align:center">
			<font color="blue">Train the Machine Learning Model for Reinforcement</font>
		</div>

	</h2>
</br>
<form method="POST">
	<label for="schemas_">Choose a schema : </label>
	<select id="schemas_" name="schemas_">
		<option value="location">Location</option>
		<option value="stock_transfer_order">Stock Transfer Order</option>
		<option value="sales_order">Sales Order</option>
		<option value="purchase_order">Purchase Order</option>
		<option value="others">Others</option>
	</select>
	<input type="submit">
	</form>
</br>
</br>
</br>
</br>					
<h2>
	<div style="text-align:center">
		<font color="blue">Select the XML file to predict</font>
	</div>
</h2>
</br>
<div class='container'>
	<div class='row'>
		<div class='col-6'>
			<center>
				<form method="POST">
					<input type="file" id="myfile" name="myfile">
						<br>
							<br>
								<input type="submit">
								</form>
							</center>
						</div>
					</div>
				</div>
			</center>
		</body>
	</html>