<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
			<title>ONEai</title>
		</head>
		<body>
			<h1>
				<div style="text-align:center">
					<font color="blue">ONEai</font>
				</div>
			</h1>
			<hr>
			</br>
			<h2>
				<div style="text-align:center">Insert the data </div>
			</h2>
		</br>
		<center>
			<form method="POST">
				<label for="cars">select the type</label>
				<select name="type_" id="type_">
					<option value="location" id="type_" name="type_">location</option>
					<option value="purchase_order" id="type_" name="type_">Purchase Order</option>
					<option value="sales_order" id="type_" name="type_">Sales Order</option>
					<option value="stock_transfer_order" id="type_" name="type_">Stock Transfer Order</option>
					<option value="others" id="type_" name="type_">Others</option>
				</select>
			</br>
		</br>
		<label for="key_">Key :</label>
		<input type="text" id="key_" name="key_">
		</br>
	</br>
	<label for="value_">Value:</label>
	<input type="text" id="value_" name="value_">
		<br>
		</br>
		<input type="submit" value="Submit">
		</form>
	</center>
</body>
</html>
