<!DOCTYPE html>
<html>
	<body>
		<center>
			<h1>Update the Location Table</h1>

			<form method="POST">
				<br><br>
				<label for="last_modified_date">last_modified_date :</label>
				<input type="text" id="last_modified_date" name="last_modified_date"><br><br>
				<label for="state">state:</label>
				<input type="text" id="state" name="state"><br><br>
				<label for="site_name">site_name :</label>
				<input type="text" id="site_name" name="site_name"><br><br>
				<label for="longitude">longitude:</label>
				<input type="text" id="longitude" name="longitude"><br><br>
				<label for="country">country :</label>
				<input type="text" id="country" name="country"><br><br>
				<label for="zipcode">zipcode:</label>
				<input type="text" id="zipcode" name="zipcode"><br><br>
				<label for="latitude">latitude :</label>
				<input type="text" id="latitude" name="latitude"><br><br>
				<label for="city">city:</label>
				<input type="text" id="city" name="city"><br><br>
				<input type="submit" value="Submit">
			</form>
		</center>
	</body>
</html>
											