<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
			<title>ONEai</title>
		</head>
		<body>
			<h1>
				<div style="text-align:center">
					<font color="blue">ONEai</font>
				</div>
			</h1>
			<hr>
			</br>
			<h2>
				<div style="text-align:center">Process the XML to Inhouse Schema's</div>
			</h2>
		</br>
		<div class='container'>
			<div class='row'>
				<div class='col-6'>
					<center>
						<form method="POST">
							<input type="file" id="myfile" name="myfile">
								<br>
									<br>
										<input type="submit">
										</form>
									</center>
								</div>
							</div>
						</div>
					</body>
				</html>
				